/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Old+Standard+TT&display=swap");

/* custom properties */
:root {
  --off-white: #f2f2f2;
  --black: rgba(0, 0, 16, 0.8);
  --blue: #0365c0;
  --green: #00cc4f;
  --orange: #ffb144;
  --disbled: rgba(0, 0, 16, 0.3);
  --shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19),
    0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
}
/* resets */

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--off-white);
  font-family: "Lato", sans-serif;
  color: var(--black);
  box-sizing: border-box;
}

header {
  padding: 1rem 2rem;
  background: var(--blue);
  color: var(--off-white);
  font-size: 2rem;
  font-weight: bold;
}

/* container */
.container {
  padding: 1rem 2rem;
}

/* filter */
.card {
  display: flex;
  background-color: white;
  box-shadow: var(--shadow);
}

.filters {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin
}

filter-card {
    padding: .8rem;

}

filter-container{
    padding: .4rem .8rem;
}

filter-text p {
    color: var(--black);
    font-size: 1.3;
    padding: .3rem;
}

filter{
    background-color: var(--black);
    padding: .4rem .4rem .1rem .4rem;
    border: 3px solid var(--blue);
    border-radius: 2.2rem;
}

.filter-form {
    display: flex;
    align-items: center
}